body {
	background-color: #0f1a26;
	margin: 50px;
}

h1 {
	font-size: 120px;
	color: #fff;
	line-height: 130px;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
	color: #c3d0df;
	width: 50%;
	margin-bottom: 40px;
}
